<table>
	{{#each days}}
		<tr>
			<td>{{day}}</td>
		</tr>
		<tr>
			{{#each keys}}
				<td>{{this}}</td>
			{{/each}}
		</tr>
		<tr>
			{{#each values}}
				<td>{{this}}</td>
			{{/each}}
		</tr>
	{{/each}}
</table>
